<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <title>關於我</title>
    <meta name="author" content="Your Name">
    <meta name="description" content="Example description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">

</head>

<body>

    <div class="ui container">

        <nav class="ui top attached inverted segment nav-out-padding0 nav-out-margin0">
            <div class="ui inverted  secondary menu">
                <a href="../layout/index.html" class="ui header item"><i class="home icon"></i>首頁</a>
                <a href="../layout/aboutMe.html" class="ui header active item"><i class="bookmark icon"></i>關於我</a>
                <a href="../layout/experience.html" class="ui header item"><i class="info icon"></i>經歷</a>
            </div>
        </nav>

        <div class="ui reversed attached segment content-hight content-border">

            <div class="ui raised segment">
                <div class="ui grid">
                    <div class="nine wide column">
                        <div class="ui blue massive ribbon label div-margin-bottom">
                            <i class="address card icon"></i>自我介紹
                        </div>
                        <div class="ui fluid list">
                            <div class="item">
                                <div class="ui grid">
                                    <div class="five wide column">
                                        <div class="ui orange huge ribbon label div-margin-bottom">
                                            <i class="address card outline icon"></i>中文姓名
                                        </div>
                                    </div>
                                    <div class="eleven wide column">
                                        <div class="ui olive fluid huge label item">鄭顥擇</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui grid">
                                    <div class="five wide column">
                                        <div class="ui yellow huge ribbon label div-margin-bottom">
                                            <i class="address card outline icon"></i>英文姓名
                                        </div>
                                    </div>
                                    <div class="eleven wide column">
                                        <div class="ui olive fluid huge label item">Lovius Tey</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui grid">
                                    <div class="five wide column">
                                        <div class="ui orange huge ribbon label div-margin-bottom">
                                            <i class="star icon"></i>星座
                                        </div>
                                    </div>
                                    <div class="eleven wide column">
                                        <div class="ui olive fluid huge label item">水瓶座</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui grid">
                                    <div class="five wide column">
                                        <div class="ui yellow huge ribbon label div-margin-bottom">
                                            <i class="inbox icon"></i>E-MAIL
                                        </div>
                                    </div>
                                    <div class="eleven wide column">
                                        <div class="ui olive fluid huge label item">zhe_215@hotmail.com</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui grid">
                                    <div class="five wide column">
                                        <div class="ui orange huge ribbon label div-margin-bottom">
                                            <i class="phone square icon"></i>手機
                                        </div>
                                    </div>
                                    <div class="eleven wide column">
                                        <div class="ui olive fluid huge label item">0970605034</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui grid">
                                    <div class="five wide column">
                                        <div class="ui yellow huge ribbon label div-margin-bottom">
                                            <i class="lightbulb icon"></i>興趣
                                        </div>
                                    </div>
                                    <div class="eleven wide column">
                                        <div class="ui olive huge tag label item div-margin-bottom-half">聽歌</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">打羽球</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">吃美食</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">攝影</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui grid">
                                    <div class="five wide column">
                                        <div class="ui orange huge ribbon label div-margin-bottom">
                                            <i class="tags icon"></i>專長
                                        </div>
                                    </div>
                                    <div class="eleven wide column">
                                        <div class="ui olive huge tag label item div-margin-bottom-half">JAVA</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">JAVASCRIPT</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">SQL</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">JQUERY</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">SPRINGBOOT</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">STRUTS2</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">IREPORT</div>
                                        <div class="ui olive huge tag label item div-margin-bottom-half">GIT</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <img src="../image/header.jpg" alt="" class="ui fluid circular image">
                    </div>

                </div>
            </div>
        </div>

        <footer class="ui attached inverted segment">
            <div class="ui inverted huge center aligned segment">
                自信是不需要別人的肯定
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>

</html>