<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <title>經歷</title>
    <meta name="author" content="Your Name">
    <meta name="description" content="Example description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">

</head>

<body>

    <div class="ui container">

        <nav class="ui top attached inverted segment nav-out-padding0 nav-out-margin0">
            <div class="ui inverted  secondary menu">
                <a href="../layout/index.html" class="ui header item"><i class="home icon"></i>首頁</a>
                <a href="../layout/aboutMe.html" class="ui header item"><i class="bookmark icon"></i>關於我</a>
                <a href="../layout/experience.html" class="ui header active item"><i class="info icon"></i>經歷</a>
            </div>
        </nav>

        <div class="ui reversed attached segment content-hight content-border">
            <div class="ui segments">

                <div class="ui segment content-border">
                    <h1 class="ui header">工作經驗</h1>
                    <div class="ui cards">
                        <div class="ui card">
                            <div class="content">
                                <div class="header">工程師-凌網(股票代碼-5212)子公司凌網全球科技</div>
                                <div class="meta">2019/04~今</div>
                                <div class="ui description">
                                    以springboot結合vue cli3開發前後端分離網站，使用spring security與jwt進行權限與登入驗證，
                                    實現stateless的webservice。以springbatch開發會員忠誠紅利系統，將檔案匯入資料庫。
                                </div>
                            </div>
                            <div class="extra content">
                                springboot，spring security，spring data jpa，jwt，springbatch，vue cli 3 ， element
                                ui，netty，tomcat，wildfly，git，sql，svn
                            </div>
                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="header">程式設計師-聯合報系子公司聯經數位</div>
                                <div class="meta">2018/03~2018/05</div>
                                <div class="ui description">
                                    以springboot、vue.js、bootstrap4開發MIS系統。
                                </div>
                            </div>
                            <div class="extra content">
                                springboot，spring security，spring data
                                jpa，jwt，jquery，thymeleaf，vue.js，bootstrap4，git，sql
                            </div>
                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="header">副工程師-關貿網路(股票代碼-6183)</div>
                                <div class="meta">2015/05~2017/10</div>
                                <div class="ui description">
                                    與客戶訪談後，依據客戶業務要求開發作業。使用struts2開發與維護關務署人事薪資差勤系統。
                                </div>
                            </div>
                            <div class="extra content">
                                struts2，ireport，jsp，sql，rtc，jqgid，jquery
                            </div>
                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="header">助教-淡江大學</div>
                                <div class="meta">2014/07~2017/09</div>
                                <div class="ui description">
                                    指導資管系大三畢業專題製作，包含debug，功能上的指導。
                                </div>
                            </div>
                            <div class="extra content">

                            </div>
                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="header">實習生-磐石金融服務集團</div>
                                <div class="meta">2013/07~2013/08</div>
                                <div class="ui description">
                                    指導資管系大三畢業專題製作，包含debug，功能上的指導。
                                </div>
                            </div>
                            <div class="extra content">
                                asp.net c#，sql。xml，javascript
                            </div>
                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="header">助教-淡江大學</div>
                                <div class="meta">2012/09~2013/01</div>
                                <div class="ui description">
                                    需要與學生上課，並教導物件導向，此外還需要監考，批改作業與考卷。
                                </div>
                            </div>
                            <div class="extra content">
                                asp.net c#，sql。xml，javascript
                            </div>
                        </div>


                    </div>
                </div>

                <div class="ui segment content-border">
                    <h1 class="ui header">學歷</h1>
                    <div class="ui cards">
                        <div class="ui card">
                            <div class="content">
                                <div class="header">淡江大學資訊管理所</div>
                                <div class="meta">2012/09~2015/01</div>
                                <p class="ui description">畢業論文:考慮分類號結構為主的圖書借閱推薦方法</p>
                            </div>
                        </div>

                        <div class="ui card">
                            <div class="content">
                                <div class="header">淡江大學資訊管理系</div>
                                <div class="meta">2008/09~2012/06</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui segment content-border">
                    <h1 class="ui header">求學經歷</h1>
                    <div class="ui ordered list">
                        <div class="item">
                            <p class="ui ">磐石保經實習(研究所)</p>
                        </div>
                        <div class="item">
                            <p class="ui ">淡江大學助教(研究所)</p>
                        </div>
                        <div class="item">
                            <p class="ui ">淡江大學資訊管理學系大學部畢業專題指導助理(研究所)</p>
                        </div>
                        <div class="item">
                            <p class="ui ">參加2屆內政部各政府機關網站評比計畫(研究所)</p>
                        </div>
                        <div class="item">
                            <p class="ui ">參與淡江大學校內創新提案(淡江小日曆)獲得錄取 (研究所)</p>
                        </div>
                    </div>
                </div>

                <div class="ui segment content-border">
                    <h1 class="ui header">榮譽</h1>
                    <div class="ui ordered list">
                        <div class="item">
                            <p class="ui ">淡江大學優良教學助理(研究所)</p>
                        </div>
                        <div class="item">
                            <p class="ui ">淡江大學資訊管理所畢業專題大學競賽佳作第4名(大學)</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="ui attached inverted segment">
            <div class="ui inverted huge center aligned segment">
                自信是不需要別人的肯定
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>

</html>