<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <title>經歷</title>
    <meta name="author" content="Your Name">
    <meta name="description" content="Example description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">

</head>

<body>

    <div class="ui container">

        <nav class="ui top attached inverted segment nav-out-padding0 nav-out-margin0">
            <div class="ui inverted  secondary menu">
                <a href="../layout/index.html" class="ui header item"><i class="home icon"></i>首頁</a>
                <a href="../layout/aboutMe.html" class="ui header item"><i class="bookmark icon"></i>關於我</a>
                <a href="../layout/experience.html" class="ui header active item"><i class="info icon"></i>經歷</a>
            </div>
        </nav>

        <div class="ui reversed attached segment content-hight content-border">
            <div class="ui vertical segments content-border">

                <div class="ui vertical segment">
                    <h1 class="ui header">工作經驗</h1>
                </div>
                <div class="ui segments">
                    <div class="ui segment content-border item">
                     
                    </div>
                    <div class="ui segment content-border item">
                        
                    </div>
                    <div class="ui segment content-border item">
                        
                    </div>
                </div>
                <div class="ui vertical segment">
                    <h1 class="ui header">學歷</h1>
                </div>
                <div class="ui segments">
                    <div class="ui segment">
                        <p>Nested Top</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Middle</p>
                    </div>
                    <div class="ui segment">
                        <p>Nested Bottom</p>
                    </div>
                </div>
            </div>



        </div>

        <footer class="ui attached inverted segment">
            <div class="ui inverted huge center aligned segment">
                自信是不需要別人的肯定
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>

</html>