<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>Sematic Ui</title>
    <meta name="author" content="Your Name">
    <meta name="description" content="Example description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>
    
    <div class="ui container">
        
    <nav class="ui inverted attached segment">
        <div class="ui inverted secondary menu">
            <h1 class="ui red header item">Lovius</h1>
            <a href="" class="ui header item"><i class="home icon"></i>首頁</a>
            <a href="" class="ui header item"><i class="bookmark icon"></i>關於我</a>
            <a href="" class="ui header item"><i class="info icon"></i>經歷</a>
        </div>

    </nav>
        
        
        
    </div>
    


    <div class="ui inverted divider"></div>


    <main class="ui container">
        <div class="ui blue inverted segment">

        </div>
    </main>

    <br>
    <br>
    <br>
    <br>

    <footer class="ui container">
        <div class="ui inverted segment">

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body></html>